@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,200&family=Poppins:ital,wght@0,300;0,400;0,500;1,500&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,800;1,500&family=Satisfy&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;

    a {
        text-decoration: none !important;
        cursor: pointer;
    }
}

.bg {
    z-index: -1;
    height: fit-content;
    position: absolute;
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.Hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    h1 {
        font-weight: 700;
        font-size: 3rem;
        color: white;
    }

    p {
        margin-top: 0.71rem;
        letter-spacing: 0.25rem;
        color: white
    }

    h2 {
        margin-top: 0.71rem;
        color: #ffd4d1;
    }

    .urlInput {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        input {
            padding: 1rem 0.8rem;
            outline: none;
            width: 25rem;
            border-radius: 1rem;
            background-color: transparent;
            color: white;
            border: #fa7268 solid 0.1rem;

            &::placeholder {
                color: rgb(204, 204, 204);

            }

            &:active,
            &:focus {
                border: #fe3f32 solid 0.1rem;

            }
        }

        #alias {
            width: 10rem !important;
            margin-left: 2rem;
        }

        .buttons {
            align-self: center;
        }

        button {

            cursor: pointer;
            margin-left: 2rem;
            padding: 1rem 0.5rem;
            width: 9rem;
            border: solid 0.2rem #fa7268;
            transition: all 0.7s;
            font-weight: 700;
            font-family: 'Raleway', cursive;
            font-size: larger;
            background-color: transparent;
            text-transform: uppercase;
            color: white;
            border-radius: 3rem;

            &:hover,
            &:active {
                border: solid 0.2rem #f34d41;
                color: #C62368;
                transform: translateY(1rem);
            }
        }
    }
}

.analytics {
    position: absolute;
    left: 0rem;
    top: 2rem;
    cursor: pointer;
    margin-left: 2rem;
    padding: 1rem 0.5rem;
    width: 9rem;
    border: solid 0.2rem #fa7268;
    transition: all 0.7s;
    font-weight: 700;
    font-family: 'Raleway', cursive;
    font-size: larger;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border-radius: 3rem;

    &:hover,
    &:active {
        border: solid 0.2rem #f34d41;
        color: #C62368;
        transform: translateY(1rem);
    }
}

#analytics-logo {
    display: block;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #fe3f32;
    transform: scale(0.7);
    height: auto;
    margin-bottom: 1rem;
}

.cards_ {
    padding: 0 10rem;
    color: #fff5e4;
    display: grid;


    a {
        text-decoration: none !important;
    }

    .card_ {
        margin: 01rem 0.5rem;
        border: 0.07rem solid white;
        padding: 2rem;
        transition: all 0.6s;
        background-color: transparent;
        border-radius: 2rem;

        &:hover {
            transform: scale(1.01);
            border: 0.07rem solid #fa7268;

        }

        .row_ {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .atag {


                flex: 1;

            }

            h3 {
                margin: 0.51rem 0;
                font-size: 1.2rem;
            }

            .longurl,
            .shorturl {
                flex: 1;
                color: #fff5e4 !important;
                transition: all 0.7s;

                &:hover,
                &:active,
                &:focus {
                    color: #fff477 !important;
                }
            }

            .clicks,
            .date {
                color: white;
                border: 0.05rem solid white;
                padding: 0.7rem 0.7rem;
                border-radius: 2rem;
            }
        }
    }

}