.head {
    text-align: center;
    color: white;
    margin: 1rem 0;
    font-size: 3rem;
}

.row {
    color: mediumspringgreen;
}

.basic_info {
    font-size: 1.2rem;

    color: white !important;
    span{
        color: darkorange !important;
    }

}